#go_to_top{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none;
    outline: none; 
    background-color: #b5ced4; 
    color: white; 
    cursor: pointer; 
}
#reportrange{background: #fff;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    width: 100%"
}
.daterangepicker {
    background-color: #ccc;
}
.range{
    background-color: darkgrey;
}

  