#go_to_top{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none;
    outline: none; 
    background-color: #b5ced4; 
    color: white; 
    cursor: pointer; 
}
#reportrange{background: #fff;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    width: 100%"
}
.daterangepicker {
    background-color: #ccc;
}
.range{
    background-color: darkgrey;
}
/* calender  */
.daterangepicker .drp-calendar.right, .daterangepicker .drp-calendar.left {
    padding: 8px;
    background: whitesmoke;
}
.daterangepicker select.monthselect, .daterangepicker select.yearselect{
    border-radius: 9px;
}
.daterangepicker td.active, .daterangepicker td.active:hover {
    border-radius: 52%;
}

/* -----------------------Data table-----------------------*/
.table>thead {
    vertical-align: bottom;
    background: #2a3ead;
    color: white;
}
/* button icon and search row  */
.dataTables_wrapper .dataTables_filter {
    float: none;
    width: 50%;
    display: inline-block;
    /* float: left; */
}
.dt-buttons {
    width: 50%;
    display: inline-block;
    float: left;
}
/* button icon and search row  */
.dataTables_wrapper .dataTables_filter{
    float: none;
}
button.all_button {
    background: transparent !important;
    padding: 0px;
    color: #2a3ead !important;
    margin-left: 10px !important;
    /* height: 100%; */
    border: none;
}

  