#go_to_top{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none;
    outline: none; 
    background-color: #b5ced4; 
    color: white; 
    cursor: pointer; 
}
.container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.colum{
    width: 14.21%;
    float: left;
}
.samecol{
    height: 100%;
    width: 100%;
}
@media screen and (max-width:768px){
    .colum{
        width: 33.33%;
        float: left;
    }
}

  